[Unit]
Description=festivalsapp.org website node server.
ConditionPathExists=/usr/local/bin/festivals-website-node
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
Restart=always
RestartSec=5s
ExecStartPre=/bin/mkdir -p /var/log/festivals-website-node
ExecStart=/usr/local/bin/festivals-website-node

[Install]
WantedBy=multi-user.target