
.table {

  display: table;
  margin: 0 auto;
  max-width: var(--max-content-width);
}

.table-row {

  display: table;
  border-spacing: 15px;
  width: 100%;
}

.compact {
  display: none;
}

.text-cell {

  height: 100%;

  display: table-cell;
  vertical-align: middle;

  text-align: center;
}

.image-cell {

  height: 100%;

  display: table-cell;
  margin-left: auto;
  margin-right: auto;
}

.spacer-cell {

  display: table-cell;
  height: 5px;
}

.bottom-padding {

  display: table-cell;
  height: 100px;
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.third {
  width: 33%;
}

.fixed {
  width:  230px;
  height: 230px;
}

@media (max-width: 960px) {

  .table {
    display: none;
    max-width: var(--max-compact-content-width);
  }
  
  .compact {
   display: table;
  }
}
