
.title-container {

  /* size */
  height: 300px;
  width: 100vw;

  /* position */
  display: block;
  position: relative;

  /* appearance */
  background-color: var(--background-color);
}

.title-container-content {

    /* position */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


@media (max-width: 960px) {


}
